---
layout: pages
title: Members
group: members
heading:
bgimage: /images/ensemble_banner_tall_v2.jpg
---

<h2>Our lab is a safe, supportive, and welcoming space regardless of race, nationality, gender, sexual orientation, political affiliation, religion, or age.</h2>

<h2>Current Lab Members</h2>

{% for person in site.data.members %}
<hr>
<div class="row">
    <div class="3u 12u$(small)">
        <span class="image fit"><img src="{{person.image}}" alt=""></span>
        <br>
        <strong><span class="memberName">{{person.name}}</span></strong> <br>
        {% if person.pronouns %}
          <em>{{person.pronouns}}</em> <br>
        {% endif %}
        <span class="memberDetail">{{person.position}}</span> <br>
        
    </div>

    <div class="6u$ 12u$(small)">
	<em><span class="memberDetail"><img class="inline-block" src="/images/email-logo.png" width=20> {{person.email}}</span></em> <br>
        {% if person.orcid %}
          <a href="http://orcid.org"><img class="inline-block" src="/images/orcid-id.png" width=20></a>
          <a id="links" href="http://{{person.orcid}}"><span class="memberDetail"> {{person.orcid}}</span></a> <br>
        {% endif %}
        {% if person.scholar %}
          <a href="https://scholar.google.com/"><img class="inline-block" src="/images/google-scholar.png"  width=20></a>
          <a id="links" href= "http://scholar.google.com/citations?user={{person.scholar}}"><span class="memberDetail"> Scholar Citations </span></a> <br>
        {% endif %}
        {% if person.twitter %}
          <a href="http://twitter.com/"><img class="inline-block" src="/images/twitter_logo.png" width=20></a>
          <a id="links" href= "http://twitter.com/{{person.twitter}}"> <span class="memberDetail">@{{person.twitter}} </span></a> <br>
        {% endif %}
		<br>
			{{person.description | markdownify}}
		{% if person.fact %}
			<u>Random fact:</u> {{person.fact}}
		{% endif %}
    </div>

</div>
{% endfor %}
<hr>

<!-- <header class="align-center">
 --> 
<!-- </header> -->
<h2>Past Lab Members</h2>
{% if site.data.alumni %}  
  {%- for student in site.data.alumni -%}

  {{student.name}}<br>

  {%- endfor -%}
{% endif %}